[core]
	# Windows: true, Linux/Mac: input
  autocrlf = input
  editor = code --wait --new-window
  attributesfile = ~/.gitattributes
  excludesFile = ~/.gitignore_global

[diff "image"]
	command = compare $2 $1 png:- | montage -geometry +4+4 $2 - $1 png:- | display -title \"$1\" -

[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait --new-window $MERGED
	keepBackup = false

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[push]
	default = simple

[gitflow "prefix"]
  feature = feature/
  release = release/
  hotfix = hotfix/
  bugfix = bugfix/
  support = support/
  versiontag = v

[tag]
	sort = -version:refname

[user]
	name =
	email =

[credential] # cache credentials
  helper = cache --timeout=3600
